# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# ×Ô¶¨Òå
Desktop_Qt_5_6_1_MinGW/
Desktop_Qt_5_6_1_MinGW_Static/
Desktop_Qt_5_6_2_MSVC2013_64bit/
debug/
release/
*.csv
*.xls
*.obj
*.gch
*.pch
*.mod
*.smod
*.exe
*.out
*.app

